nav {
  background-color: rgba(174, 181, 191, 0.6);
  height: 100%;
  position: relative;
  min-width: 250px;
  -webkit-box-shadow: 6px 5px 29px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 6px 5px 29px -8px rgba(66, 68, 90, 1);
  box-shadow: 6px 5px 29px -8px rgba(66, 68, 90, 1);
}

.menu {
  margin: 200px 5% 0 10%;

  img {
    color: aliceblue;
  }

  li {
    margin: 30px 0 70px 0;
    font-size: 2em;
    letter-spacing: 3px;

    &:nth-last-child(1) {
      position: absolute;
      bottom: 0;
    }
    a {
      color: rgba(255, 255, 255, 1);
      opacity: 100%;
      text-decoration: none;

      i {
        padding-right: 10px;
      }
    }
  }
}

.icon {
  color: white;
}
