@media (max-width: 920px) {
  .big-square > ul li {
    font-size: 0.6em;
  }
  .small-square p {
    font-size: 0.8em;
  }
  .first-crypto,
  .second-crypto,
  .my-balance {
    margin: 0 10px;
  }

  nav {
    min-width: 180px;
  }
  .menu {
    font-size: 0.9em;
  }
}
